{% extends 'buildings/base.html' %}
{% block content %}

<h2>{{title}}</h2>
<button type="button" class="btn btn-outline-success" onclick="location.href={% url 'add_contract' %}">Добавить контракт</button>
	<table class="table table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col">ID документа</th>
      <th scope="col">Номер договора</th>
      <th scope="col">Описание</th>
      <th scope="col">Сумма</th>
	  <th scope="col">Дата создания</th>
	  <th scope="col">Дата обновления</th>
    </tr>
  </thead>
  <tbody>
    {% for p in model %}

    <tr>
      <th scope="row">{{p.id_contract}}</th>
      <td>{{p.contractnumber}}</td>
      <td>{{p.description}}</td>
      <td>{{p.sum}}</td>
	  <td>{{p.time_create|date:"d-m-Y H:i"}}</td>
	  <td>{{p.time_update|date:"d-m-Y H:i"}}</td>

		{% endfor %}
    </tr>
  </tbody>
</table>


{% endblock %}