<body class=" login" data-admin-utc-offset="0">
   <!-- Container -->
   <div id="container">
      <!-- Header -->
      <div id="header">
         <div id="branding">
            <h1 id="site-name"><a href="/admin/">Авторизация</a></h1>
         </div>
      </div>
      <!-- END Header -->
      <div class="main" id="main">
         <div class="content">
            <!-- Content -->
            <div id="content" class="colM">
               <div id="content-main">
                  <form action="/admin/login/?next=/admin/" method="post" id="login-form">
                     <input type="hidden" name="csrfmiddlewaretoken" value="uJSqcfRMV9jBIF0rsjYRhwdOe1UVrVfzCeruxjd4A01R4dbdF7wEk9x8q9TW8tAm">
                     <div class="form-row">
                        <label for="id_username" class="required">Имя пользователя:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                     </div>
                     <div class="form-row">
                        <label for="id_password" class="required">Пароль:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                        <input type="hidden" name="next" value="/admin/">
                     </div>
                     <div class="submit-row">
                        <input type="submit" value="Войти">
                     </div>
                  </form>
               </div>
               <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
         </div>
      </div>
   </div>
   <!-- END Container -->
</body>